<div class="footer-navigation">
    <div class="wrapper clearfix">
        <div class="footer-navigation-column">
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">About Kramp</a>
                    </li>
                    <li>
                        <a href="#">About Kramp</a>
                    </li>
                    <li>
                        <a href="#">Our history</a>
                    </li>
                    <li>
                        <a href="#">Our mission &amp; vision</a>
                    </li>
                    <li>
                        <a href="#">Our values</a>
                    </li>
                    <li>
                        <a href="#">Our strategy</a>
                    </li>
                    <li>
                        <a href="#">Sustainability</a>
                    </li>
                    <li>
                        <a href="#">Annual report</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-navigation-column">
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">It's that easy</a>
                    </li>
                    <li>
                        <a href="#">Kramp Song</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">Core business</a>
                    </li>
                    <li>
                        <a href="#">Our markets</a>
                    </li>
                    <li>
                        <a href="#">Our webshop</a>
                    </li>
                    <li>
                        <a href="#">Logistics and transport</a>
                    </li>
                    <li>
                        <a href="#">Our specialists</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-navigation-column">
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Business solutions</a>
                    </li>
                    <li>
                        <a href="#">Technical services</a>
                    </li>
                    <li>
                        <a href="#">Training and education</a>
                    </li>
                    <li>
                        <a href="#">Retail services</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-navigation-column">
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">More information</a>
                    </li>
                    <li>
                        <a href="#">Our brands</a>
                    </li>
                    <li>
                        <a href="#">Kramp Academy</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Career at Kramp</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-navigation-column">
            <nav>
                <ul>
                    <li class="footer-navigation-heading">
                        <a href="#">Article count</a>
                    </li>
                    <li>
                        <span class="text-label">520.000</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
