<div class="footer-bottom">
    <div class="wrapper large-12 columns clearfix">
        <div class="container">
            <div class="footer-meta">
                <ul class="clearfix">
                    <li><a href="#">Juridische mededeling</a></li>
                    <li><a href="#">Privacy policy / cookies</a></li>
                    <li><a href="#">Aanbiederinformatie</a></li>
                    <li><a href="#">Algemene verkoopvoorwaarden</a></li>
                </ul>
            </div>
            <div class="tagline">
                <img src="https://www.kramp.com/do/CI/Kramp/images/payoff.png" alt="Kramp - tagline">
            </div>
        </div>
    </div>
</div>
