.landingpage {

}

.landingpage-banner {
  width: 1200px;
  height: 400px;
  background-image: url('/assets/img/banner-lp.jpg');

  .banner-backdrop {
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0) 89%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  }

  .banner-content {
    position: absolute;
    top: 20px;
    left: 60px;
    color: #fff;
  }

  .banner-header {
    margin-bottom: 20px;
    font-size: 48px;
    color: #dbdee4;
    font-weight: bold;
  }

  ul {
    font-size: 20px;
    margin-bottom: 20px;
  }

}
